.filter{
    position: absolute;
    /* left: 0cm; */
    width:100%;
    margin-left: 78ch;
    height: 5cm;
    align-self: center;
    text-align: center;
    display: flex;
    top:1.6cm;

    border: 3px solid rgb(10, 10, 10);
}

/* .body{
    
} */

.Card{
    position: absolute;
    top:1px;
    text-align: center;
}

